<!DOCTYPE html>
                <form enctype="multipart/form-data" action="http://localhost:3000/uploadpdf" method="post">
                    <table class="table">
                        <tr>
                            <th>Select File</th>
                            <td>
                                <input type="file" name="filetoupload" />
                            </td>
                            <td>
                                <input type="submit" />
                            </td>
                        </tr>
                    </table>
                </form>
      